<!DOCTYPE html>
<html>

<head>
  <title>TEST DENEME</title>
</head>

<body>

TEST

  <%- body%>

    <!--footer section start-->
    <footer>
Footer Bölümü
    </footer>
    <!--footer section end-->
</body>

</html>
